numpy==1.26.4
pandas==2.2.2
tensorflow==2.17.1
matplotlib==3.8.0
IPython==7.34.0
scipy==1.13.1
tf-keras==2.17.0
tensorflow-probability==0.24.0
tqdm==4.66.6
notebook==6.5.5
jupyter-client==6.1.12
jupyter_core==5.7.2
ipykernel==5.5.6
ipywidgets==7.7.1
